@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

/* .visually-hidden {
  visibility: hidden;
} */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.navigation-link-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index-header {
  background-image: url("../img/head-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-index-h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.main-index-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

.advantages-block {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-block-blue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-block-white {
  background: rgba(131, 179, 211, 0.12);
}

.activities-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.activities-description {
  text-align: center;
  color: #333333;
}

.activities-block {
  background: rgba(131, 179, 211, 0.12);
}

.activities-block-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 376px;
  margin: 0 auto;
}

.mail {
  background-image: url(../img/mail-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.mail-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.mail-text {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.mail-button {
  background: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.page-footer a {
  color: #000000;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header {
  background-image: url(../img/catalog-header-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-button-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
}

.catalog-filter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  background: inherit;
}

.select-hotel-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-hotel,
.product-card-price {
  color: #333333;
}

.product-card-button-brown {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
}

.product-card-button-favourite {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.button {
  color: #000000;
  text-decoration: none;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  background: #82B3D3;
border-radius: 4px;
}

.pagination-current {
  background: #F2F2F2;
  border-radius: 4px;
}
.pagination-link-dots {
  color: #000000;
  text-decoration: none;
}
